POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
AGENT_DB_USER=
AGENT_DB_PASSWORD=
TABLE_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

OLLAMA_BASE_URL=
OLLAMA_MODEL=
CLASSIFIER_MODEL=
LLM_PROMPT_VALIDATION=

MCP_SERVER_HOST=
MCP_SERVER_PORT=

VLC_HTTP_HOST=
VLC_HTTP_PORT=
VLC_HTTP_PASSWORD=

WIZ_BULBS=

TELEGRAM_BOT_TOKEN=
WHITELIST=

AGENT_HOST=
AGENT_PORT=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
